:root {
    --accent-sec: #000000;
    --accent-prim: #ffffff;
    --accenttxt: var(--accent-prim);
    --VHTRP-txttr: 0.25s ease;
}
:root.photographie {
    --accent-sec: #ffffff;
    --accent-prim: #000000;
}

::selection {
    color: var(--accent-sec);
    background-color: var(--accent-prim);
}
@keyframes opacity-FadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
body {
    margin: 0;
    font-family: "Roboto Slab";
    font-weight: 500;
    color: var(--accenttxt);
    background-color: #232323;
    opacity: 1;
    animation: opacity-FadeIn 0.5s 0.15s ease backwards;
}

/*--/ SWUP /--*/
.transition-vh {
    opacity: 1;
    transition: 0.4s 0.1s;
}
html.is-animating .transition-vh {
    opacity: 0;
    transition: 0.9s;
}
html.is-rendering .transition-vh {
    transition: 0.4s;
}

#vhtrp {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}
.vhtrp-circle {
    position: fixed;
    width: 100%;
    height: 100%;
    stroke: transparent;
}


/*-/ NAVIGATION MENU /-*/
#page-bg.accueil ~ #nav-layerbg {
    display: none;
}

#parallax-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #232323;
}

#nav-pos {
    z-index: 1100;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    color: var(--accenttxt);
    transition: color var(--VHTRP-txttr);
    user-select: none;
}

.nav-separator {
    width: 100%;
    height: 4px;
    margin: 10px 0;
    background-color: var(--accenttxt);
    transition: background-color var(--VHTRP-txttr);
    pointer-events: none;
}

.navlink#accueil {
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--accenttxt);
    transition: color var(--VHTRP-txttr);
}

/*/ nav-TXT /*/
.nav-name {
    line-height: 1.05;
}
#wn-v {
    font-weight: 500;
    font-size: clamp(27.5px, 3.7vw, 55px);
}
#wn-h {
    font-weight: 600;
    font-size: clamp(45px, 6vw, 90px);
}

/*/ NAV /*/
nav, #nav-social {
    margin-top: 30px;
}
.navlink-p {
    display: block;
    position: relative;
    line-height: 1.25;
    text-decoration: none;
    font-size: clamp(17.5px, 2.5vw, 25px);
    letter-spacing: 1.5px;
    transition: letter-spacing 0.5s cubic-bezier(0.3, 0.6, 0, 1);
}
.navlink-p > div {
    display: block;
    position: relative;
    width: max-content;
    padding-bottom: 3px;
}
.nav-sel {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--accenttxt);
    transition: 0.6s cubic-bezier(0.6, 0.4, 0, 1.1),
                background-color var(--VHTRP-txttr),
                height 0.2s cubic-bezier(0.8, 0.8, 0, 1);
    will-change: width, height, background-color;
}
.navlink-p > div span {
    position: relative;
    color: var(--accenttxt);
    transition: color var(--VHTRP-txttr);
}

.navlink-p:hover,
.navlink-p:active {
    letter-spacing: 0.5px;
    transition: letter-spacing 0.3s cubic-bezier(0.2, 0.6, 0, 1);
}
.navlink-p:hover .nav-sel, .nl-current {
    width: 100%;
    transition: 0.3s cubic-bezier(0.3, 0.7, 0, 1),
                height 0.2s cubic-bezier(0.8, 0.8, 0, 1),
                background-color var(--VHTRP-txttr);
}
.navlink-p:active .nav-sel {
    width: 100%;
    height: 0;
    transition: 0.05s cubic-bezier(0, 1, 0, 1) !important;
}

.nl-current {
    letter-spacing: 1.5px !important;
    transition: color var(--VHTRP-txttr),
                0.3s cubic-bezier(0.2, 0.5, 0, 1),
                font-size 0s, padding 0s !important;
}
.nlsel-current {
    width: 100% !important;
}

/*nav icons*/
.navbtns-content {
    display: flex;
    align-items: center;
}
.icon-container {
    transform: scale(0.925);
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.3, 0.6, 0, 1);
}
.navlink:hover .navbtns-content .icon-container,
.navlink:active .navbtns-content .icon-container,
.nlsvgc-current {
    transform: scale(1) !important;
    transition: transform 0.3s cubic-bezier(0.3, 0.7, 0, 1) !important;
}
.navbtns-content svg.navicons {
    height: clamp(15px, 2.15vw, 21px);
    position: relative;
    fill: transparent;
    stroke: transparent;
    overflow: hidden;
    transform-origin: center;
}

.navbtns-content svg.navicons .fill {
    fill: var(--accenttxt);
}

.navbtns-content svg.navicons .to-fill {
    fill: var(--accenttxt) !important;
    stroke-width: 0;
    opacity: 1;
    transform-box: fill-box;
}
#photographie .navbtns-content svg.navicons g > g#sun > g {
    transform: rotateZ(0deg);
    transform-origin: center;
    transform-box: fill-box;
}
#photographie .navbtns-content svg.navicons g.nli-current > g#sun > g {
    transform: rotateZ(-180deg) !important;
}
#photographie .navbtns-content svg.navicons g#mountain .to-fill {
    transform: scaleY(0);
    transform-origin: bottom;
}
#photographie .navbtns-content svg.navicons g.nli-current g#mountain .to-fill {
    transform-origin: top;
}
#photographie .navbtns-content svg.navicons g > g#mountain {
    transform: scaleX(0);
    transform-origin: 90%;
}
#photographie .navbtns-content svg.navicons g.nli-current > g#mountain {
    transform: scaleX(1);
    transform-origin: 19px;
}
#video .navbtns-content svg.navicons .to-fill {
    transform: scaleX(0);
    transform-origin: right;
}
#video .navbtns-content svg.navicons g.nli-current .to-fill {
    transform-origin: left;
}
#video .navbtns-content svg.navicons g > g {
    transform: scaleY(0);
    transform-origin: center;
}
#video .navbtns-content svg.navicons g.nli-current > g {
    transform: scaleY(1);
    transition: 0s;
}
#contact .navbtns-content svg.navicons .to-fill {
    transform: scaleY(0);
    transform-origin: bottom;
}
#contact .navbtns-content svg.navicons g.nli-current .to-fill {
    transform-origin: top;
}
.nli-current-fill {
    opacity: 1 !important;
    transform: scaleX(1) scaleY(1) !important;
}

#photographie .navbtns-content svg.navicons g#sun * {
    transition: var(--VHTRP-txttr),
                transform 0.8s cubic-bezier(0.3, 0.8, 0, 1),
                transform-origin 0s;
}
#photographie .navbtns-content svg.navicons g#sun.nli-current * {
    transition: var(--VHTRP-txttr),
                transform 0.7s cubic-bezier(0.3, 0.7, 0, 1),
                transform-origin 0s;
}
#photographie .navbtns-content svg.navicons g * {
    transition: var(--VHTRP-txttr),
                transform 1.2s cubic-bezier(0.3, 0.8, 0, 1),
                transform-origin 0s;
}
#photographie .navbtns-content svg.navicons g.nli-current * {
    transition: var(--VHTRP-txttr),
                transform 0.7s cubic-bezier(0.4, 0.6, 0, 1),
                transform-origin 0s;
}
#video .navbtns-content svg.navicons g * {
    transition: var(--VHTRP-txttr),
                transform 1.2s cubic-bezier(0.2, 0.7, 0, 1),
                transform-origin 0s;
}
#video .navbtns-content svg.navicons g.nli-current * {
    transition: var(--VHTRP-txttr),
                transform 0.7s cubic-bezier(0.2, 0.7, 0, 1),
                transform-origin 0s;
}
#contact .navbtns-content svg.navicons g * {
    transition: var(--VHTRP-txttr),
                transform 0.8s cubic-bezier(0.4, 0.8, 0, 1),
                transform-origin 0s;
}
#contact .navbtns-content svg.navicons g.nli-current * {
    transition: var(--VHTRP-txttr),
                transform 0.7s cubic-bezier(0.3, 0.6, 0, 1),
                transform-origin 0s;
}
#contact .navbtns-content svg.navicons g *.to-trnsprnt {
    transition-delay: 0.025s, 0s, 0s;
}
#contact .navbtns-content svg.navicons g.nli-current *.to-trnsprnt {
    transition-delay: 0.05s, 0s, 0s;
}

.navbtns-content svg.navicons .stroke {
    stroke: var(--accenttxt);
}
.fill.nli-current-trnsprnt {
    fill: var(--bgpage) !important;
}
.stroke.nli-current-trnsprnt {
    stroke: var(--bgpage) !important;
}

/* nav social */
#ws-ig {
    display: block;
    width: 32px;
    height: 32px;
    fill: var(--accenttxt);
    transition: fill var(--VHTRP-txttr);
}


/*-/ BG /-*/
#page-bg {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: opacity-FadeIn 0.9s ease backwards;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#page-bg.accueil {
    background-image: url("/src/accueil/accueil-bg.jpg");
}
#page-bg.contact {
    background-image: url("/src/contact/contact-bg.jpg");
}


/*-/ CONTENT /-*/
#content-container {
    z-index: 100;
    position: relative;
    width: auto;
    height: auto;
    padding: 5%;
}
main#swup {
    position: relative;
    width: 100%;
    height: 100%;
}


@media (min-width: 728px) /* PC */ {
    .navbtns-content .icon-container,
    #nav-layerbg {
        display: none;
    }
    #nav-pos {
        align-items: center;
        width: auto;
        height: 100%;
        padding-left: 5%;
    }
    .navlink-p {
        padding: 8.5px 0;
    }
    .navbtns-content svg.navicons {
        margin: 2px 6.5px 2px 0px;
    }


    #content-container {
        margin-top: 0 !important;
    }
}

@media (max-width: 727px) /* MOBILE */ {
    .navlink-p > div span,
    .navlink-p .nav-sel,
    #nav-social {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    #nav-pos {
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 10%;
        /*box-shadow: 0 -17px 25px var(--accent-prim);*/
    }

    .nav-separator {
        height: 3.5px;
        margin: 12.5px 0 10px;
    }
    
    .navlink {
        text-align: center;
    }
    .navlink-p > div {
        display: flex;
        justify-content: center;
    }

    .nl-current {
        width: auto;
    }

    a.navlink > div {
        margin: 15px clamp(7.5px, 2.5vw, 15px) 10px;
        transition: margin 0.3s cubic-bezier(0.2, 0.5, 0, 1),
                    margin-top 0.2s cubic-bezier(0.3, 0.6, 0, 1),
                    margin-bottom 0.2s cubic-bezier(0.3, 0.6, 0, 1);
    }
    .navbtns-content svg.navicons {
        transform: rotateZ(0.01deg);
        height: clamp(47.5px, 8vw, 55px);
        transition: height 0.2s cubic-bezier(0.3, 0.6, 0, 1);
    }
    .icon-container {
        transform: rotateZ(0.001deg) scale(0.9);
    }

    #nav-layerbg {
        z-index: 999;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 71px;
        opacity: 0;
        background-color: var(--bgpage);
        transition: opacity 0.3s cubic-bezier(0.4, 0.7, 0, 1), background-color 0.3s 0.4s ease;
    }


    #content-container {
        margin-left: 0 !important;
    }
}